/*default*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*---------*/

$bc-black: #252525;
$bc-white: #e9e3e3;

body {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  background-color: $bc-white;
  &.darkMode {
    background-color: $bc_black;
  }
}

.clock__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock__circle {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border: 3px solid $bc-black;
  border-radius: 50%;
  &.darkMode {
    border: 3px solid $bc-white;
  }
}

.clock__circle:before {
  content: "";
  height: 30px;
  width: 30px;
  border: 1px solid $bc-black;
  border-radius: 50%;
  background-color: $bc-white;
  z-index: 999;
}

.clock__circle.darkMode:before {
  border: 1px solid $bc-white;
  background-color: $bc-black;
}

.arrow__hour,
.arrow__min,
.arrow__sec,
.dial__box {
  position: absolute;
}

.arrow__hour,
.hour {
  height: 200px;
  width: 200px;
}

.arrow__min,
.min {
  height: 260px;
  width: 260px;
}

.arrow__sec,
.sec {
  height: 320px;
  width: 320px;
}

.dial__box,
.dial {
  height: 350px;
  width: 350px;
}

.hour,
.min,
.sec,
.dial {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hour:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 90px;
  border-radius: 5px 5px 0 0;
  background-color: $bc-black;
  z-index: 10;
}

.hour.darkMode:before {
  background-color: $bc-white;
}

.min:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 120px;
  border-radius: 5px 5px 0 0;
  background-color: $bc-black;
  z-index: 11;
}

.min.darkMode:before {
  background-color: $bc-white;
}

.sec:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 170px;
  border-radius: 5px 5px 0 0;
  background-color: #e22020;
  z-index: 12;
}

.change__color {
  width: 200px;
  height: 50px;
  font-size: 24px;
  border-radius: 10px;
  background-color: $bc-black;
  color: $bc-white;
  &.darkMode {
    background-color: $bc-white;
    color: $bc-black;
  }
}

.dial:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 20px;
  border-radius: 5px 5px 0 0;
  background-color: $bc-black;
}

.dial.darkMode:before {
  background-color: $bc-white;
}
